<div class="jumbotron">
    <h1>Welcome to shurly</h1>
    <p class="lead">Your own short url repository.</p>
</div>
<div class="row" ng-controller="shurlyController">
    <div class="col-md-12">

        <div class="well">
            <h3>Instalacija</h3>
            
        </div>

        <div class="well">
            <h3>Pokretanje</h3>
            
        </div>

        <div class="well">
            <h3>Korištenje</h3>

        </div>

    </div>
</div>
