
        <div class="well">
            <h3>Installation</h3>
            <p class="bg-warning">No installation is necessary</p>
            <p>
                Shurly is delivered by ASP.NET Web API in a console application, using OWIN to self-host the Web API framework.

                Open Web Interface for .NET (OWIN) defines an abstraction between .NET web servers and web applications. OWIN decouples the web application from the server, which makes OWIN ideal for self-hosting a web application in your own process, outside of IIS.
            </p>
        </div>

        <div class="well">
            <h3>Get started</h3>
            <p>
                You can start the application by double clicking on the executable 'Shurly.SelfHost.exe'. After the execution HttpClient is listening on localhost:9000. Navigate there with your browser and start consuming the app.
            </p>
        </div>

        <div class="well">
            <h3>Register urls</h3>
            <p>
                First of all you should create an account (Step 1.). Enter your desired accountId and click create.
            </p>
            <p>
                When you've created your account, your credentials will be automatically copied to the form for url registration, so you only have to enter the url you want to shorten (Step 2.).
            </p>
            <p>
                If you've gotten to Step 3. you've successfully registed your url and have received a shurly, which you can test in Step 3.
            </p>
            <p>
                After you've created an account in Step 1 you've also received an url where you can check your statistic.
            </p>
        </div>

