<div class="jumbotron">
    <h1>Welcome to shurly</h1>
    <p class="lead">Your own short url repository.</p>
</div>
<div class="row" ng-controller="shurlyController">
    <div class="col-md-12">
        <div class="well">
            <h3>Step 1: Create account</h3>
            <form name="accountForm">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="accountId" id="accountId" name="accountId" placeholder="AccountId" required />
                </div>
                <button ng-click="createAccount(accountId)" class="btn btn-primary">Create</button>
            </form>
        </div>

        <div class="well">
            <h3>Step 2: Register url</h3>
            <form name="registerForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="username" id="username" name="username" placeholder="AccountId" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" id="password" name="password" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="url" id="url" name="url" placeholder="Url" required />
                </div>
                <div class="form-group">
                    <select id="redirectType" name="redirectType" ng-model="redirectType" class="form-control">
                        <option value="">Redirect type...</option>
                        <option value="301">Permanent</option>
                        <option value="302">Temporary</option>
                    </select>
                </div>
                <button ng-click="register(username, password, url, redirectType)" class="btn btn-success">Register</button>
            </form>
        </div>

        <div class="well">
            <h3>Step 3: Visit url</h3>
            <a target="_blank" href="{{shurly}}">{{shurly}}</a>
        </div>


        <div class="well">
            <h3>Step 4: Get statistic</h3>
            <a ng-click="openStats($event, statisticsLink)" href="">
                {{statisticsLink}}
            </a>

            <div style="margin-top: 15px" class="well">
                {{statistics}}
            </div>
        </div>

    </div>
</div>
